@if(Request.IsAuthenticated) {    
	<li>Welcome, <b>@Context.User.Identity.Name</b></li>
    if (Context.User.IsInRole("admin"))
    {
	    <li>@Html.ActionLink("Agency Admin", "Index", "Admin")</li>
    }
    if (Context.User.IsInRole("SuperAdmin"))
    {
	    <li>@Html.ActionLink("User Admin", "ShowMembers", "Admin")</li>
    }
    if (Context.User.IsInRole("admin"))
    {
	    <li>@Html.ActionLink("Admin Help", "Administrator", "Help")</li>
    }
    <li> @Html.ActionLink("Log Off", "LogOff", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Log On", "LogOn", "Account")</li>
}
