@using Ddi.Registry.Web
@model Ddi.Registry.Data.ApplicationUser

<div class="card">

    <div class="card-header">@ViewData["CardTitle"]</div>

    <div class="card-body">
        <div class="media">
            @if (Model.Email != null)
            {
                //@Gravatar.GetHtml(Model.Email, defaultImage: "mm")
                <img gravatar-email="@Model.Email" gravatar-size="80" gravatar-default-image="mm" class="align-self-center mr-3" />
            }
            <div class="media-body">
                <div>
                    @Html.DisplayFor(model => model.Name)  <br />
                    @Html.DisplayFor(model => model.Email)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Organization) @Html.DisplayFor(model => model.JobTitle)
                </div>

                <div class="display-field" style="clear: both;">
                    @Html.DisplayFor(model => model.StreetAddress) <br />
                    @Html.DisplayFor(model => model.City) @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)<br />
                    @Html.DisplayFor(model => model.Country)
                </div>
                <div class="display-field" style="clear: both;">
                    Phone: @Html.DisplayFor(model => model.PhoneNumber)<br />
                    HomePage: <a href="@Html.DisplayFor(model => model.HomePage)">@Html.DisplayFor(model => model.HomePage)</a>
                </div>
            </div>
        </div>
    </div>
</div>
