@using Ddi.Registry.Data
@model Ddi.Registry.Web.Models.ResolverModel

@{
    ViewData["Title"] = "HTTP Resolver";
}

<h2>Resolver Results</h2>

<p>Agency ID: @Html.ActionLink(Model.Assignment.AgencyId, "Index", "Agency", new { agencyName = Model.Assignment.AgencyId })</p>
<p>URN agency or subagency: @Model.Urn.Agency</p>
<p>URN: @Model.Urn.ToString()</p>
@if (Model.HttpResolvers.Count == 0)
{
    <h2>No HTTP Endpoints Found</h2>
}
else
{

<table class="table table-striped">
    <thead>
        <tr>
            <th>Http Resolver Type</th>
            <th>Description</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HttpResolvers)
        {            
            string url = item.UrlTemplate;
            url = url.Replace("{agency}",Model.Urn.Agency);
            url = url.Replace("{identifier}",Model.Urn.Identifier);
            url = url.Replace("{version}",Model.Urn.Version);
            url = url.Replace("{urn}",Model.Urn.ToString());
            
            <tr>
                <td>
                    <a href="@url">@item.ResolutionType</a>
                </td>
                <td>
                        @if(item.ResolutionType == HttpResolver.ServiceNameWeb)
                        {
                            <p>Website for the DDI URN</p>
                        }
                        else if(item.ResolutionType == HttpResolver.ServiceNameDdiItem)
                        {
                            <p>DDI representation of the item</p>
                        }
                        else if(item.ResolutionType == HttpResolver.ServiceNameDdiSet)
                        {
                            <p>DDI representation of the item and related items</p>
                        }
                        else
                        {
                            <p>User defined service</p>
                        }
                    </td>
                <td>
                    <a href="@url">@url</a>
                </td>

            </tr>
        }
    </tbody>
</table>

}