@model Ddi.Registry.Web.Models.AssignmentModel

@{
    ViewData["Title"] = "Add an Assignment";
}

<h2>Add Sub Agency Assignment</h2>




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.AgencyId)

        <p>The Sub Agency assignment should start with "@(Model.AgencyId)."</p>
        @Html.TextBoxFor(model => model.AssignmentId, new { autofocus = "true" })
        @Html.ValidationMessageFor(model => model.AssignmentId)

        <div class="editor-submit">
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Management Page", "ViewAgency", new { agencyId = Model.AgencyId })
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}