@model Ddi.Registry.Data.Delegation

@{
    ViewBag.Title = "Add a Delegation";
}

<h2>Add Delegation</h2>




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>

        @Html.HiddenFor(model => model.AssignmentId)
        @Html.HiddenFor(model => model.DelegationId)

        <div class="editor-label">
            @Html.LabelFor(model => model.NameServer, "Name Server")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NameServer, new { autofocus = "true" })
            @Html.ValidationMessageFor(model => model.NameServer)
        </div>

        <div class="editor-submit">
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Management Page", "EditAssignment", new { assignmentId = Model.AssignmentId })
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}