@model Ddi.Registry.Data.Service

@{
    ViewData["Title"] = "Add a Service";
}

<h2>Add Service</h2>




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.AssignmentId)
        @Html.HiddenFor(model => model.ServiceId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ServiceName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ServiceName, new { autofocus = "true" })
            @Html.ValidationMessageFor(model => model.ServiceName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hostname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hostname)
            @Html.ValidationMessageFor(model => model.Hostname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Port)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Port)
            @Html.ValidationMessageFor(model => model.Port)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Protocol)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Protocol)
            @Html.ValidationMessageFor(model => model.Protocol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeToLive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeToLive)
            @Html.ValidationMessageFor(model => model.TimeToLive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Weight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Weight)
            @Html.ValidationMessageFor(model => model.Weight)
        </div>

        <div class="editor-submit">
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to Assignment Page", "EditAssignment", new { assignmentId = Model.AssignmentId })
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}