@model Ddi.Registry.Data.Assignment

@{
    ViewData["Title"] = "Delete " + Model.AssignmentId;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete @Model.AssignmentId</h2>

<h3>Are you sure you want to delete this assignment?</h3>

<fieldset>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.AssignmentId</div>

    <div class="display-label">DateCreated</div>
    <div class="display-field">@String.Format("{0:g}", Model.DateCreated)</div>

    <div class="display-label">LastModified</div>
    <div class="display-field">@String.Format("{0:g}", Model.LastModified)</div>
    
</fieldset>
@using (Html.BeginForm()) {
    <p>
		@Html.HiddenFor(a => a.AssignmentId)
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to Agency Page", "ViewAgency", new { agencyId = Model.AgencyId })
    </p>
}


