@model Ddi.Registry.Web.Models.AssignmentModel

@{
    ViewData["Title"] = "Edit " + Model.AssignmentId;
}

<h2>Edit @Model.AssignmentId</h2>




@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.AssignmentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.AssignmentId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.AssignmentId, new { @readonly = true })
            @Html.ValidationMessageFor(model => model.AssignmentId)
        </div>

    </fieldset>

    
    <fieldset>
        <legend>HTTP Resolvers</legend>

        <div style="margin-top: 12px;">
            <p>@Html.ActionLink("Add a HTTP Resolver", "AddHttpResolver", new { assignmentId = Model.AssignmentId })</p>
        </div>

        @if (Model.HttpResolvers.Count() > 0)
        {
            <partial name="ListHttpResolvers" for="HttpResolvers" />
        }
    </fieldset>

    <fieldset>
        <legend>DNS SRV Services</legend>

        @if (Model.IsDelegated)
        {
            <p><strong>These services are not active because resolution for @Model.AssignmentId is delegated to other name servers.</strong></p>
        }

        <div style="margin-top: 12px;">
            <p>@Html.ActionLink("Add a service", "AddService", new { assignmentId = Model.AssignmentId })</p>
        </div>

        @if (Model.Services.Count() > 0)
        {
            <partial name="ListServices" for="Services" />
        }
    </fieldset>

    <fieldset>
        <legend>
            Delegations @if (!Model.IsDelegated)
            {<text>(Disabled)</text>}
        </legend>

        <div class="editor-field">
            @Html.EditorFor(model => model.Delegated)
            @Html.LabelFor(model => model.Delegated, "Use my own name servers for resolution.")
            @Html.ValidationMessageFor(model => model.Delegated)
        </div>

        <div style="padding-top: 12px; clear: both;">
            <p>@Html.ActionLink("Add a Nameserver", "AddDelegation", new { assignmentId = Model.AssignmentId })</p>
        </div>

        @if (Model.Delegations.Count() > 0)
        {
            <partial name="ListDelegations" for="Delegations" />
        }

    </fieldset>

    <div class="editor-submit">
        <p>
            <input type="submit" value="Save" />
        </p>
    </div>
}

<div>
    @Html.ActionLink("Back to Agency Page", "ViewAgency", new { agencyId = Model.AgencyId })
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}