@model Ddi.Registry.Web.Models.AgencyModel

@{
    ViewBag.Title = "Edit " + Model.AgencyName;
}

<h2>Edit @Model.AgencyName</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
	<fieldset>
    @Html.ValidationSummary(true)
    
        @Html.HiddenFor(model => model.AgencyId)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AdminContact, "Administrative Contact")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.AdminContact, new SelectList(ViewBag.People, "PersonId", "Name"))            
            @Html.ValidationMessageFor(model => model.AdminContact)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.TechnicalContact, "Technical Contact")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.TechnicalContact, new SelectList(ViewBag.People, "PersonId", "Name"))            
            @Html.ValidationMessageFor(model => model.TechnicalContact)
        </div>

		<div class="editor-submit">
        <p>
            <input type="submit" value="Save" />
        </p>
		</div>
	</fieldset>
}

<div>
    @Html.ActionLink("Back to Management Page", "Index")
</div>
