@model Ddi.Registry.Web.Models.OverviewModel

@{
    ViewData["Title"] = "Manage";
	
	var approvedAgencies = Model.Agencies.Where(m => m.ApprovalState == Ddi.Registry.Data.ApprovalState.Approved).ToList();
	var requestedAgencies = Model.Agencies.Where(m => m.ApprovalState == Ddi.Registry.Data.ApprovalState.Requested).ToList();
}

<h2>Agencies</h2>
@if (approvedAgencies.Count == 0)
{
	<p>This account has no approved agencies.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Agency Name</th>
                <th>Agency Label</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Administrative Contact</th>
                <th>Technical Contact</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>

        @functions {

        public string GetName(string personId)
        {
            foreach (Ddi.Registry.Data.ApplicationUser p in Model.People)
            {
                if (p.Id == personId) { return p.Name; }
            }
            return "none";
        }
        }
        <tbody>
            @foreach (var item in approvedAgencies)
            {
                <tr>
                    <td>@item.AgencyId</td>
                    <td>@item.Label</td>
                    <td>@item.DateCreated</td>
                    <td>@item.LastModified</td>
                    <td>@GetName(item.AdminContactId)</td>
                    <td>@GetName(item.TechnicalContactId)</td>
                    <td>@item.ApprovalState.ToString()</td>
                    <td>
                        @Html.ActionLink("Manage", "ViewAgency", new { agencyId = item.AgencyId }) |
                        @Html.ActionLink("Edit", "EditAgency", new { agencyId = item.AgencyId })

                    </td>
                </tr>
            }
        </tbody>
</table>
}

<h2>Pending Requests</h2>

@if (requestedAgencies.Count == 0)
{
	<p>This account has no pending agency requests.</p>
}

<p>@Html.ActionLink("Request New Agency", "AddAgency")</p>


@if (requestedAgencies.Count > 0)
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>Agency Name</th>
            <th>Requested On</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in requestedAgencies)
        {
            <tr>
                <td>@item.AgencyId</td>
                <td>@item.DateCreated</td>
                <td>@item.ApprovalState.ToString()</td>
                <td>
                    @Html.ActionLink("Edit Contacts", "EditAgency", new { agencyId = item.AgencyId })
                </td>
            </tr>
        }
    </tbody>
</table>
}


<h2>Related People</h2>


@if (Model.People.Count() == 0)
{

}
else
{
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.People)
        {
            <tr>
                <td><img gravatar-email="@item.Email" gravatar-size="80" gravatar-default-image="mm" /></td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>
                    @Html.ActionLink("Details", "ViewPerson", new { personId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
}
