@model Ddi.Registry.Web.Models.AgencyOverviewModel

@{
    ViewBag.Title = Model.Agency.AgencyId;
}

<h2>@Model.Agency.AgencyId</h2>

<partial name="AgencyControl" for="Agency" />

<h2>Sub Agency Assignments</h2>

<p>@Html.ActionLink("Add sub agency assignment", "AddAssignment", new { agencyId = Model.Agency.AgencyId })</p>

@if (Model.Assignments.Count() == 0)
{
    <p>No Sub Agencies have been assigned.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Services</th>
                <th>Is Delegated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Ddi.Registry.Data.Assignment a in Model.Assignments)
            {
                <text>
                    <tr>
                        <td>@a.AssignmentId</td>
                        <td>@Model.Services[a.AssignmentId].Count()</td>
                        <td>@a.IsDelegated</td>
                        <td>
                            @Html.ActionLink("Edit", "EditAssignment", new { assignmentId = a.AssignmentId })
                            @if (a.AssignmentId != Model.Agency.AgencyId)
                            {
                                <text>| @Html.ActionLink("Delete", "DeleteAssignment", new { assignmentId = a.AssignmentId })</text>
            }
                        </td>
                    </tr>
                    </text>
                }
        </tbody>
    </table>
}

<h2>Contact Information</h2>

@if (Model.AdminContact != null)
{
    var adminViewData = new ViewDataDictionary(ViewData) { { "CardTitle", "Administrative Contact" } };
    <partial name="PersonControl" model="Model.AdminContact" view-data="adminViewData" />
}

@if (Model.TechnicalContact != null)
{
    var techViewData = new ViewDataDictionary(ViewData) { { "CardTitle", "Technical Contact" } };
    <partial name="PersonControl" model="Model.TechnicalContact" view-data="techViewData" />
}
