@using Microsoft.AspNetCore.Identity
@model Ddi.Registry.Data.ApplicationUser
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewBag.Title = "Edit";
}

<h2>Edit User</h2>




@using (Html.BeginForm())
{
    @Html.ValidationSummary("Account modification was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <legend>Account Information</legend>

        <div class="editor-label">
            @Html.Label("Name")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Organization)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(m => m.Organization)
        </div>

    </fieldset>

    <fieldset>
        <legend>Roles</legend>

        @foreach (string role in new List<string>() { "admin", "SuperAdmin" })
        {
            <div class="editor-field" style="clear: both;">
                @Html.CheckBox(role, UserManager.IsInRoleAsync(Model, role))
                @Html.Label(role)
            </div>
        }

    </fieldset>

    <input type="submit" value="Update" />
}

<div>
    @Html.ActionLink("Back to Member List", "ShowMembers")
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}