@model Ddi.Registry.Web.Models.ApproveModel

@{
    ViewBag.Title = "Approve Agencies";
}

@functions { 

    public string GetName(string personId)
    {
        if (string.IsNullOrEmpty(personId)) { return "none"; }
        if(Model.People.ContainsKey(personId))
        {
            var p = Model.People[personId];
            if(p != null)
            {
                string result = p.Name;
                if (string.IsNullOrWhiteSpace(result))
                {
                    result += p.Email;
                }
                if(p.Organization != null) {
                    result += " (" + p.Organization + ")";
                }
                return result;

            }
        }
        return "none";
    }
}

<h2>Approve Agencies</h2>

@if (Model.Agencies.Count() == 0)
{
	<p>No agencies need to be approved.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Username
                </th>
                <th>
                    Agency Name
                </th>
                <th>
                    Label
                </th>
                <th>
                    Created
                </th>
                <th>
                    Last Modified
                </th>
                <th>
                    Technical Contact
                </th>
                <th>
                    Administrative Contact
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>

    @foreach (var item in Model.Agencies)
    {
        <tr>
            <td>
                <a asp-action="ViewPerson" asp-controller="Manage" asp-route-personId="@item.CreatorId">@GetName(item.CreatorId)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @if (item.TechnicalContactId != null)
                {
                    <a asp-action="ViewPerson" asp-controller="Manage" asp-route-personId="@item.TechnicalContactId">@GetName(item.TechnicalContactId)</a>
                }
                else
                {
                    @GetName(item.TechnicalContactId)
                }

            </td>
            <td>
                @if (item.AdminContactId != null)
                {
                    <a asp-action="ViewPerson" asp-controller="Manage" asp-route-personId="@item.AdminContactId">@GetName(item.AdminContactId)</a>
                }
                else
                {
                    @GetName(item.AdminContactId)
                }
            </td>
            <td>
                @Html.ActionLink("Approve", "Approve", new { agencyId = item.AgencyId }) |
                @Html.ActionLink("Delete", "Delete", new { agencyId = item.AgencyId })
            </td>
        </tr>
    }
        </tbody>
    </table>
}