@model MembershipUserCollection
@{
	ViewBag.Title = "Index";
}
<h2>
	Users</h2>
@Html.ValidationSummary()
<p>
	@Html.ActionLink("Create User", "CreateMember")
</p>
<table width="100%">
	<tr>
		<th></th><th></th>
		<th>
			User Name
		</th>
		<th>
			Email
		</th>
		<th>
			Last Login
		</th>
		<th>
			Comment
		</th>
	</tr>
	@foreach (MembershipUser item in Model) {
		<tr>
			<td>
				@Html.ActionLink("Edit", "EditMember", new { id = item.ProviderUserKey })
			</td>
			<td>
				@Html.ActionLink("Delete", "DeleteMember", new { id = item.ProviderUserKey })
			</td>
			<td style="min-width: 100px">
				@item.UserName
			</td>
			<td style="min-width: 75px">
				@item.Email
			</td>
			<td style="min-width: 100px">
				@String.Format("{0:d}", item.LastLoginDate)
			</td>
			<td style="width: 100%">
				@item.Comment
			</td>
		</tr>
	}
</table>
